html,body {
	width: 100%;
	background-color: #CFCFCF;
	color: #000000;
	overflow: hidden;
}

.scrolling {
	overflow-y: scroll;
}

	#calendarbox {
		border: solid 2px #000000;
		display: block;
		width: 480px;
		position: relative;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		background-color: #FFFFFF;
		text-align: center;
		font-family: sans-serif;
	}

	#calendarbox h1, #calendarbox h2 {
		margin: 0px; 
		padding: 0px;
		border: 0px; 
	}

	#calendarbox h1 {    
		font-size: 300px;
	}

	#calendarbox h2 {    
		font-size: 110px;
	}

	#formatbox {
		font-family: sans-serif;
		font-size: small;
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		height: 1em;
		background-color: #FFFFFF;
		border-top: solid 1px #000000;
		padding: 0.5em;
	}

	#formatbox .links {
		display: block;
		position: relative;
		float: left;
		clear: left;
	}

	#formatbox .formats {
		display: block;
		position: relative;
		float: right;
		clear: right;
	}

	#informationbox {
		position: absolute;
		left: 16px;
		right: 16px;
		top: 16px;
		background-color: #FFFFFF;
		border: solid 1px #000000;
		padding: 16px;
	}

@media screen and (max-width: 639px) {

	#calendarbox {
		border: 0px;
		width: 100%;
		margin: 0px;
		padding: 0px;
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 36px;
		background-color: #FFFFFF;
		border-bottom: solid 1px #000000;
		text-align: center;
		font-family: sans-serif;
	}

	#calendarbox h1 {
		margin: 0px;
		font-size: 10em;
	}
	#calendarbox h2 {
		margin: 0px;
		margin-top: 1em;
		font-size: 5em;
	}

	#formatbox {
		font-family: serif;
		font-size: 1em;
		background-color: #CFCFCF;
		border: 0px;
		padding: 0px;
		display: fixed;
		position: absolute;
		bottom: 0px;
		height: 32px;
		left: 0px;
		right: 0px;
		text-align: center;
	}

	#informationbox {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		background-color: #FFFFFF;
		border: 0px;
		padding: 16px;
	}

}
